doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Man Nguyen

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Man Nguyen
                span.d-none.d-lg-block
                    //- img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Man
                        span.text-primary Nguyen
                    .subheading.mb-5
                        | Revere, MA 02151 · 
                        a(href='mailto:nguyen.man@northeastern.edu') nguyen.man@northeastern.edu
                    p.lead.mb-5
                        | With a keen eye for efficiency and quality, I excel in software development by innovating automation solutions within an agile framework, optimizing processes, enhancing R&D quality control, and delivering user-friendly interfaces.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/mannguyen4624/' target='_blank' rel='noopener noreferrer')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/mannguyen4624' target='_blank' rel='noopener noreferrer')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 Chewy
                            p
                                | By strategically implementing search engine optimizations (SEO) using Kotlin, I significantly bolstered Chewy's online visibility and presence across various search engines. This proactive approach not only improved the ranking of Chewy's web pages but also enhanced their accessibility and relevance to target audiences, thereby driving increased organic traffic and fostering greater engagement with the brand's offerings.
                        .flex-shrink-0
                            span.text-primary Jul 2021 - Apr 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer Intern
                            .subheading.mb-3 PhAST
                            p
                                | Collaborated on the development of proprietary software designed to facilitate the seamless collection, organization, and management of data for researchers. This involved actively contributing to the design, implementation, and refinement of features aimed at optimizing data acquisition, storage, and retrieval processes, ultimately empowering researchers with efficient tools to advance their projects and scientific endeavors.
                        .flex-shrink-0
                            span.text-primary Jul 2020 - Dec 2020

            hr.m-0
            
            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Calculator
                            .subheading.mb-3 HTML, CSS, JavaScript 
                            p Developed a calculator utility in order to enhance proficiency in front-end development methodologies.
                        .flex-shrink-0
                            a(href='https://github.com/mannguyen4624/Calculator' target='_blank' rel="noopener noreferrer") Repository

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Did You Take the Vaccine? Website 
                            .subheading.mb-3 HTML, CSS, JavaScript
                            p Engineered a web application with functionality to prompt users regarding their COVID-19 vaccination status, facilitating data storage within a structured database. Employed cookie mechanisms to discern and exclude recurring visitors from the tallying process.
                        .flex-shrink-0
                            a(href='https://github.com/mannguyen4624/covidvaccine' target='_blank' rel="noopener noreferrer") Repository

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 LyrSave
                            .subheading.mb-3 PowerShell 
                            p Developed a computational utility adept at executing mathematical algorithms and helping users saved in-game currency based on real-life financial ideologies. 
                        .flex-shrink-0
                            a(href='https://github.com/mannguyen4624/LyrSave' target='_blank' rel="noopener noreferrer") Repository

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Northeastern University
                            .subheading.mb-3 Bachelor of Science
                            div Computer Science and Information Science
                        .flex-shrink-0
                            span.text-primary Sep 2017 - May 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Revere High School 
                            div Robotics Club Member, eSports Club Founder
                        .flex-shrink-0
                            span.text-primary Sep 2013 - May 2017

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fa-brands.fa-python 
                        li.list-inline-item
                            i.fa-brands.fa-java 
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-npm
                        
                    //- .subheading.mb-3 Workflow
                    //- ul.fa-ul.mb-0
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Mobile-First, Responsive Design
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Cross Browser Testing & Debugging
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Cross Functional Teams
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Agile Development & Scrum

            hr.m-0

            // Awards
            //- section#awards.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Awards & Certifications
            //-         ul.fa-ul.mb-0
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Google Analytics Certified Developer
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Mobile Web Specialist - Google Certification
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2009
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 2
            //-                 sup nd 
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2008
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - James Buchanan High School - Hackathon 2006
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 3
            //-                 sup rd 
            //-                 | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')